* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    position: relative;
    align-items: center;
    background-size: cover;
    justify-content: center;
    justify-content: center;
    background-position: center;
    background-color: #11131e;
    background-repeat: no-repeat;
    font-family: "Roboto Mono", monospace;
    background-image: url(Images/Clock.jpg);
}

.clock {
    width: 550px;
    padding: 50px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.06);
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.15);
    border: 1.5px solid rgba(255, 255, 255, 0.06);
}

.cta {
    bottom: 12%;
    border: none;
    background: none;
    position: absolute;
}

.cta span {
    padding-right: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.cta svg {
    margin-bottom: 5px;
    transition: all 0.3s ease;
    transform: translateX(-8px) rotate(-60deg);
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(1);
}

.hover-underline-animation {
    position: relative;
    color: #EDEDED;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #EDEDED;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a:link {
    font-size: 35px;
    font-weight: 600;
    color: #EDEDED;
    text-align: center;
    text-decoration: none;
    transition: opacity .5s ease;
}

a:visited {
    color: #EDEDED;
}

#day {
    font-size: 35px;
    color: #446b87;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.time-wrapper {
    text-align: center;
}

.time {
    font-size: 70px;
    color: #080808;
    display: inline-block;
}

#midday {
    font-size: 30px;
    color: #446b87;
}